[data-theme='dark'] {
  --md-sys-color-primary: rgb(159 212 156);
  --md-sys-color-surface-tint: rgb(159 212 156);
  --md-sys-color-on-primary: rgb(6 57 17);
  --md-sys-color-primary-container: rgb(33 80 37);
  --md-sys-color-on-primary-container: rgb(186 240 182);
  --md-sys-color-secondary: rgb(153 212 163);
  --md-sys-color-on-secondary: rgb(0 57 24);
  --md-sys-color-secondary-container: rgb(24 81 43);
  --md-sys-color-on-secondary-container: rgb(180 241 189);
  --md-sys-color-tertiary: rgb(141 213 178);
  --md-sys-color-on-tertiary: rgb(0 56 37);
  --md-sys-color-tertiary-container: rgb(0 81 56);
  --md-sys-color-on-tertiary-container: rgb(169 242 205);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(86 30 25);
  --md-sys-color-error-container: rgb(115 51 45);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 20 15);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(226 227 216);
  --md-sys-color-surface-variant: rgb(72 71 58);
  --md-sys-color-on-surface-variant: rgb(201 199 182);
  --md-sys-color-outline: rgb(147 145 130);
  --md-sys-color-outline-variant: rgb(72 71 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(47 49 42);
  --md-sys-color-inverse-primary: rgb(57 105 59);
  --md-sys-color-primary-fixed: rgb(186 240 182);
  --md-sys-color-on-primary-fixed: rgb(0 33 6);
  --md-sys-color-primary-fixed-dim: rgb(159 212 156);
  --md-sys-color-on-primary-fixed-variant: rgb(33 80 37);
  --md-sys-color-secondary-fixed: rgb(180 241 189);
  --md-sys-color-on-secondary-fixed: rgb(0 33 11);
  --md-sys-color-secondary-fixed-dim: rgb(153 212 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(24 81 43);
  --md-sys-color-tertiary-fixed: rgb(169 242 205);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 20);
  --md-sys-color-tertiary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 81 56);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(13 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 25);
  --md-sys-color-surface-container-high: rgb(41 43 35);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}

@media (prefers-contrast: more) {
  [data-theme='dark'] {
  --md-sys-color-primary: rgb(180 234 176);
  --md-sys-color-surface-tint: rgb(159 212 156);
  --md-sys-color-on-primary: rgb(0 45 9);
  --md-sys-color-primary-container: rgb(107 157 106);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(174 235 183);
  --md-sys-color-on-secondary: rgb(0 45 18);
  --md-sys-color-secondary-container: rgb(100 157 112);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(162 236 199);
  --md-sys-color-on-tertiary: rgb(0 44 29);
  --md-sys-color-tertiary-container: rgb(87 158 126);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(72 19 15);
  --md-sys-color-error-container: rgb(204 123 114);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 15);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 71 58);
  --md-sys-color-on-surface-variant: rgb(223 221 203);
  --md-sys-color-outline: rgb(180 178 162);
  --md-sys-color-outline-variant: rgb(146 145 129);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(34 82 39);
  --md-sys-color-primary-fixed: rgb(186 240 182);
  --md-sys-color-on-primary-fixed: rgb(0 22 3);
  --md-sys-color-primary-fixed-dim: rgb(159 212 156);
  --md-sys-color-on-primary-fixed-variant: rgb(14 63 22);
  --md-sys-color-secondary-fixed: rgb(180 241 189);
  --md-sys-color-on-secondary-fixed: rgb(0 21 6);
  --md-sys-color-secondary-fixed-dim: rgb(153 212 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 64 28);
  --md-sys-color-tertiary-fixed: rgb(169 242 205);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 12);
  --md-sys-color-tertiary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 63 42);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(67 69 61);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(28 30 23);
  --md-sys-color-surface-container: rgb(38 41 33);
  --md-sys-color-surface-container-high: rgb(49 51 44);
  --md-sys-color-surface-container-highest: rgb(60 63 55);
  }
}

@media (prefers-contrast: forced) {
  [data-theme='dark'] {
  --md-sys-color-primary: rgb(199 254 195);
  --md-sys-color-surface-tint: rgb(159 212 156);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(155 208 152);
  --md-sys-color-on-primary-container: rgb(0 15 2);
  --md-sys-color-secondary: rgb(193 255 202);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(149 208 159);
  --md-sys-color-on-secondary-container: rgb(0 15 3);
  --md-sys-color-tertiary: rgb(185 255 219);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(137 209 174);
  --md-sys-color-on-tertiary-container: rgb(0 14 7);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 165);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 15);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 71 58);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(243 240 222);
  --md-sys-color-outline-variant: rgb(197 195 178);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(34 82 39);
  --md-sys-color-primary-fixed: rgb(186 240 182);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(159 212 156);
  --md-sys-color-on-primary-fixed-variant: rgb(0 22 3);
  --md-sys-color-secondary-fixed: rgb(180 241 189);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(153 212 163);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 6);
  --md-sys-color-tertiary-fixed: rgb(169 242 205);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(141 213 178);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 12);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(79 81 72);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 32 25);
  --md-sys-color-surface-container: rgb(47 49 42);
  --md-sys-color-surface-container-high: rgb(58 60 52);
  --md-sys-color-surface-container-highest: rgb(69 72 63);
  }
}
